/* ---------------------------------------------------
imports
---------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu');


/* ---------------------------------------------------
layouts
---------------------------------------------------- */

html {
    font-family: Ubuntu;
}

body {
    font-family: Ubuntu;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #ecf0f1;
    border-radius: 0.3rem; 
}
    
@media (min-width: 576px) {
    .jumbotron {
      padding: 4rem 2rem; 
    } 
}
  
.jumbotron-fluid {
padding-right: 0;
padding-left: 0;
border-radius: 0; 
}

#titulo{
    color: #555555;
    size:13px;
    margin-left: 10px;
}

#label-produto{
    font-size: 12px;
    color: #4d4d4d;
    margin-left: 30px;
}

#label-periodo{
    font-size: 12px;
    color: #4d4d4d;
    margin-left: 30px;
}

#datePicker {
    display:flex;
    /* justify-content:flex-end; */
    align-items:center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    padding-right: 15px;
}

#my-date-picker-range {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    color: #4d4d4d;
    width: 300px;
    height: 38px;
    margin-left: 0px;
    margin-right: 5px;
    border: 1px solid #ccc;
}

#my-date-picker-range2 {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  color: #4d4d4d;
  width: 300px;
  height: 38px;
  margin-left: 15px;
  margin-right: 0px;
  border: 1px solid #ccc;
}

.selecionar-produto {
    color: #4d4d4d;
    font-size: 12px;
    font-family: Ubuntu;
    width: 660px;
    margin-right: 15px;
    margin-left: 30px;
}

#imagem{
    margin-left: 300px;
}

#grafico{
    margin-left: 30px;
    width: 1200px;
}